<!-- Form partial for creating and editing transactions -->

<%= form_with model: [@user, @transaction], local: true do |form| %>
  <div>
    <%= form.label :summary %><br>
    <%= form.text_field :summary %>
  </div>
  <div>
    <%= form.label :details %><br>
    <%= form.textarea :details %>
  </div>
  <div>
    <%= form.label :is_income %><br>
    <%= form.radio_button :is_income, "true", value: true %>
    <%= form.label :true, "Income" %><br>
    <%= form.radio_button :is_income, "false", value: false %>
    <%= form.label :false, "Expense" %><br>
  </div>
  <div>
    <%= form.label :amount %><br>
    <%= form.number_field :amount %>
  </div>
  <div>
    <%= form.label :category %><br>
    <%= form.select :category, @categories.collect { |category| [category.name] } %>
  </div>
  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </div>
  <div>
    <%= form.submit "Save transaction" %>
  </div>
<% end %>