<h1>Transactions</h1><br>

<%= button_to "+ New transaction", new_account_app_transaction_path(@account), class: "new", method: :get%>

<%= stylesheet_link_tag 'transactions' %>

<h3>Recent transactions</h3>
<%= link_to "View report for this account", account_report_path(@account) %>

<table>
  <!--Column headers-->
  <th>Date</th>
  <th>Summary</th>
  <th>Amount</th>
  <th>Category</th>

  <!-- Dynamically generate table body -->
  <% @transactions.each do |transaction| %>
    <tr>
      <td>
        <%= transaction.date.strftime("%F") %>
      </td>
      <td>
        <%= link_to transaction.summary, [ @account, transaction ] %>
      </td>
      <td>
        <%= ( transaction.is_income ? "$" : "-$" ) + transaction.amount.to_s %>
      </td>
      <td>
        <%= transaction.category %>
      </td>
    </tr>
  <% end %>
</table>