<h1>Hi, <%= @user.username %>!</h1>

<h2>Your balance: $<%= @balance %></h2>
<!--Use Chartkick for graph-->
<%= line_chart balances_charts_path, library: {backgroundColor: "transparent"}  %>

<%= pie_chart categories_charts_path, library: {backgroundColor: "transparent"} %>

<h3>Recent transactions</h3>

<% @transactions.each do |transaction| %>
  <div>
    <h5><%= link_to transaction.summary, user_app_transaction_path(session[:user_id],transaction.id) %></h5>
  </div>
<% end %>