<h1>Hi, <%= @user.username %>!</h1>

<h2>Your balance: $<%= '%.2f' % @balance.round(2) %></h2>

<% if @transactions == [] %>

  <!-- Only display this if there aren't any transactions -->
  <h3>You haven't logged any transactions!</h3>
  <%= link_to "Log a transaction", new_account_app_transaction_path(@account) %>

<% else %>

  <!--Use Chartkick for graphs-->
  <h3>Balance over time</h3>
  <%= line_chart balances_account_charts_path(@account), library: {backgroundColor: "transparent"}, xtitle: "Time", ytitle: "Balance", prefix: "$", thousands: ",", curve: false %>

  <h3>Expenses by category</h3>
  <%= pie_chart categorized_expenses_account_charts_path(@account), library: {backgroundColor: "transparent"}, class: "pie-chart", prefix: "$", thousands: ",", label: "Expenses by category" %>

  <h3>Income by category</h3>
  <%= pie_chart categorized_income_account_charts_path(@account), library: { backgroundColor: "transparent" }, class: "pie-chart", prefix: "$", thousands: ",", label: "Income by category" %>
<%  end %>