<!-- Display transaction information -->
<h1><%= @transaction.summary %>: $<%= @transaction.amount %></h1><br>
<b><%= @transaction.category %></b>
<em><%= @transaction.date.strftime("%F") %></em><br>
<p><%= @transaction.details %></p>

<!-- Generate CRUD links -->
<ul>
  <li>
    <%= link_to "Edit", edit_user_app_transaction_path(session[:user_id],@transaction.id) %>
  </li>
  <li>
    <%= link_to "Delete", [ @transaction.user, @transaction ], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </li>
</ul>

<!-- I don't know what this does but if I don't have it the delete function breaks -->
<%= turbo_include_tags %>