<div id="header">
  <%= link_to "Home", root_path %>
  <% if !session[:user_id].nil? %>
    <%= link_to "Transactions", user_app_transactions_path(session[:user_id])  %>
    <%= link_to "Log out", logout_path %>
  <% else %>
    <%= link_to "Log in", login_path %>
    <%= link_to "Sign up", sign_up_path %>
  <% end %>

</div>

<style>
  body {
      margin: 0;
  }
  #header {
      height: 30px;
      background-color: #ffbc1d;
      display: flex;
      justify-content: space-evenly;
      text-align: center;
  }
</style>