<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Deca App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body>

  <header>

    <% if session[:user_id].nil? %>
      <%= link_to "Home", root_path, class: "nav-link" %>
      <%= link_to "Log in", login_path, class: "nav-link" %>
      <%= link_to "Sign up", sign_up_path, class: "nav-link" %>
    <% else %>
      <%= link_to "Accounts", accounts_path, class: "nav-link" %>
      <%= link_to "Categories", categories_path, class: "nav-link" %>
      <%= link_to "Log out", logout_path, class: "nav-link" %>
    <% end %>

  </header>

  <div id="content">
    <%= yield %>
  </div>
  </body>
</html>
